# Local PCRF Signaling links
# PSM/PCEF Diameter attributes
$ORIGIN-HOST {{ originHost }}.{{ originRealm }}
$ORIGIN-REALM {{ originRealm }}
$HOST-IP {{ gxVIP }}

$INSTANCE-ID 1
$TABLE-EVENT-SUBSCRIPTION-DISABLED 1

$DISABLE-MK-WITH-GSU 1 # This key solve Gx over-repoting problem

# Diameter Gx Dimension
$TIMEOUT 2
$JSON-SENDALL-RATE-LIMIT 8000
# $JSON-SENDALL-RATE-LIMIT-SESSION 8000
$SENDQUEUE-SIZE 2000000
$SESSION-TABLE-SIZE 4000000
$SUBSCRIBER-TABLE-SIZE 8000000
$MAX-OUTSTANDING-PCRF-MESSAGES 500000
$MAX-OUTSTANDING-JSON-TASKS 1500000
$PSM-BUFFER-SIZE 128000000
$PCRF-BUFFER-SIZE 16000000

#PCRF peers atttributes
$MAX-CONNECTED-PCRFS 2
$LOAD-BALANCE 0

{% for peer in peer_list %}
$PCRF-ADDRESS {% if peer.primIP %}{{ peer.primIP }}{% else %}{{ peer.secIP }}{% endif %}
$PSM-BIND-ADDRESS {{ gxVIP }}
$DESTINATION-HOST {{ peer.hostName }}.{{ peer.realm }}
$DESTINATION-REALM {{ peer.realm }}
{% endfor %}

$SESSION-FLUSH-ENABLED 1
#$ATTR-SESSION-FLUSH: References a field in the Model holding a timestamp. The timestamp should be used by a time
$ATTR-SESSION-FLUSH gxFlushTimeStamp
#Set $ATTR-SESSION-FLUSH = now + 10000
$SESSION-FLUSH-TIME 10

$OPENING-CONDITION 1
$ATTR-OPENING-CONDITION gxOpenConditionLocal

$ATTR-PCRF pcrfAddress
$ATTR-SESSION-ID ccSessionId
$GX-FAILOVER-MODE 0
##disable 13-02-2019
#$MAX-RETRIES 1

#Dynamic Diameter Gx attributes cca-i -> ccr-u mapping
$ATTR-DEST-HOST gxOriginHost
$BIND-TO-HOST 0
$ATTR-DEST-REALM gxOriginRealm
$BIND-TO-REALM 1

$SESSION-SCHEMA-NAME session
$SUBSCRIBER-SCHEMA-NAME subscriber

$MONITORING-MAX-ENTRIES 48
# Subscribers Session Attributes
$ATTR-IMSI subscriberId
$ATTR-MSISDN msisdn

$ATTR-COUNTERS gxCounters
$ATTR-RAT rat
# $ATTR-3GPP-RAT rat3gpp
$ATTR-IP-CAN_STATIC integer 5
$ATTR-IPV4 sessionId
$ATTR-CC-REQUEST-COUNTER ccCounter
$ATTR-FLAGS flags
$ATTR-RESULT pcrfResultLocal
$ATTR-RULE gxRules
$ATTR-RULE-NAME ruleName
$ATTR-RULE-ACTIVATION-TIME activationTime
$ATTR-RULE-DEACTIVATION-TIME deactivationTime
$ATTR-RULE-ACTIVATED activated
$ATTR-3GPP-SGSN sgsn
$ATTR-3GPP-SGSN-MCC-MNC sgsnmccmnc
$ATTR-USER-LOCATION-INFO uli
$ATTR-CALLED-STATION-ID session.apn
$ATTR-IMEISV imeisv
$CUSTOM-ATTR session.ueTimeZone int16 3GPP-MS-TimeZone 23 10415 vendor-specific | mandatory outgoing ccri | ccru
$CUSTOM-ATTR gxCcCounter int64 gxCcCounter 1001 11821 vendor-specific outgoing ccru

$ATTR-APN-AGGREGATE-MAX-BITRATE-UL shapingUL
$ATTR-APN-AGGREGATE-MAX-BITRATE-DL shapingDL

# $ATTR-RULE-MAX-REQUESTED-BW-UL shapingUL
# $ATTR-RULE-MAX-REQUESTED-BW-DL shapingDL

# comment by sshirokov 20190924
#$EVENT-RAT-TOGGLE 1
#$EVENT-SGSN-TOGGLE 1
#$EVENT-RAT-REPORT-UMI 1

# Tele2 PCC Rule to MK mapping for Gx

$MONITORING-RULES 1001 DEF_1_GPRS_QOS_UNLIM
$MONITORING-RULES 1002 DEF_2_GPRS_QOS_UNLIM DEF_2_P2P_GPRS_QOS_64
$MONITORING-RULES 1003 DEF_3_GPRS_QOS_UNLIM DEF_3_P2P_GPRS_QOS_64 DEF_BLOCK_TETHERING DEF_BLOCK_TABLET MNC_STEP_GPRS_QOS_BLOCK
$MONITORING-RULES 1004 DEF_4_GPRS_QOS_UNLIM DEF_4_P2P_GPRS_QOS_64 DEF_BLACKLIST DEF_LIST_TAC_GPRS_QOS DEF_TOD_GPRS_QOS_UNLIM
$MONITORING-RULES 1005 DEF_5_GPRS_QOS_UNLIM DEF_5_P2P_GPRS_QOS_64
$MONITORING-RULES 1006 DEF_6_GPRS_QOS_UNLIM DEF_6_P2P_GPRS_QOS_64
$MONITORING-RULES 1007 DEF_7_GPRS_QOS_UNLIM DEF_7_P2P_GPRS_QOS_64
$MONITORING-RULES 1008 DEF_8_GPRS_QOS_UNLIM DEF_8_P2P_GPRS_QOS_64
$MONITORING-RULES 1009 DEF_9_GPRS_QOS_UNLIM
$MONITORING-RULES 1010 DEF_10_GPRS_QOS_UNLIM
$MONITORING-RULES 1014 DEF_14_GPRS_QOS_UNLIM
$MONITORING-RULES 1041 DEF_41_GPRS_QOS_UNLIM

$MONITORING-RULES 1100 DEF_FREE_GPRS_QOS_UNLIM DEF_100_GPRS_QOS_UNLIM DEF_100_P2P_GPRS_QOS_64
$MONITORING-RULES 1105 DEF_105_GPRS_QOS_UNLIM
$MONITORING-RULES 1110 DEF_10110_GPRS_QOS_UNLIM
$MONITORING-RULES 1120 DEF_NIGHT_GPRS_QOS_UNLIM DEF_120_P2P_GPRS_QOS_64

$MONITORING-RULES 1201 MIU_DEF_1_GPRS_QOS_UNLIM
$MONITORING-RULES 1202 MIU_DEF_2_GPRS_QOS_UNLIM
$MONITORING-RULES 1203 MIU_DEF_3_GPRS_QOS_UNLIM
$MONITORING-RULES 1204 MIU_DEF_4_GPRS_QOS_UNLIM
$MONITORING-RULES 1205 MIU_DEF_5_GPRS_QOS_UNLIM
$MONITORING-RULES 1221 DEF_INT_TV_GPRS_QOS_UNLIM
$MONITORING-RULES 1222 DEF_T2TV_GPRS_QOS_UNLIM

$MONITORING-RULES 1813 DEF_813_GPRS_QOS_UNLIM DEF_VK_GPRS_QOS_UNLIM
$MONITORING-RULES 1814 DEF_OK_GPRS_QOS_UNLIM
$MONITORING-RULES 1815 DEF_FB_GPRS_QOS_UNLIM
$MONITORING-RULES 1816 DEF_WA_GPRS_QOS_UNLIM
$MONITORING-RULES 1817 DEF_VIBER_GPRS_QOS_UNLIM
$MONITORING-RULES 1818 DEF_NAVI_GPRS_QOS_UNLIM
$MONITORING-RULES 1819 DEF_YATAXI_GPRS_QOS_UNLIM
$MONITORING-RULES 1820 DEF_TAMTAM_GPRS_QOS_UNLIM
$MONITORING-RULES 1822 DEF_CHIGAP_GPRS_QOS_UNLIM
$MONITORING-RULES 1823 DEF_YOUTUBE_GPRS_QOS_UNLIM
$MONITORING-RULES 1824 DEF_FOTOSTRANA_GPRS_QOS_UNLIM
$MONITORING-RULES 1825 DEF_LOVEMAIL_GPRS_QOS_UNLIM
$MONITORING-RULES 1826 DEF_LOVEPLANET_GPRS_QOS_UNLIM
$MONITORING-RULES 1827 DEF_MAMBA_GPRS_QOS_UNLIM
$MONITORING-RULES 1828 DEF_TEAMO_GPRS_QOS_UNLIM
$MONITORING-RULES 1830 DEF_YAREKLAMA_GPRS_QOS_UNLIM
$MONITORING-RULES 1832 DEF_SOS_GPRS_QOS_UNLIM
$MONITORING-RULES 1833 DEF_INST_GPRS_QOS_UNLIM
$MONITORING-RULES 1834 DEF_TWITCH_GPRS_QOS_UNLIM
$MONITORING-RULES 1835 DEF_TINDER_GPRS_QOS_UNLIM
$MONITORING-RULES 1836 DEF_BADOO_GPRS_QOS_UNLIM
$MONITORING-RULES 1838 DEF_PTT_GPRS_QOS_UNLIM
$MONITORING-RULES 1839 DEF_DISCORD_GPRS_QOS_UNLIM
$MONITORING-RULES 1840 DEF_GMAPS_GPRS_QOS_UNLIM
$MONITORING-RULES 1841 DEF_APPMAPS_GPRS_QOS_UNLIM
$MONITORING-RULES 1842 DEF_4SQ_GPRS_QOS_UNLIM
$MONITORING-RULES 1843 DEF_UBER_GPRS_QOS_UNLIM
$MONITORING-RULES 1844 DEF_ICQ_GPRS_QOS_UNLIM
$MONITORING-RULES 1847 DEF_TIKTOK_GPRS_QOS_UNLIM

# $CUSTOM-ATTR defEPSQoS string Default-EPS-Bearer-QoS 1049 10415 vendor-specific incoming ccai | ccau

$3GPP-REL-MINOR 9

# $DEBUG 1
# $VERBOSE 1